body {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  margin: 0;
}


/*


*/


.grid-container {
  border: thin solid black;
  display: grid;
  grid-template-areas: 'header header header header header header'
                       'right right content content content content'
                       'footer footer footer footer footer footer';
  grid-gap: 10px;
}
#right {
border: thin solid black;
padding-left: 10px;
padding-right: 10px;
}


./areas./
#header { grid-area: header; }
#right { grid-area: right; }
#content { grid-area: content; }
#footer { grid-area: footer; }


.box {
border: thin solid black;

}

p {
    font-family: arial;
    font-size: 15px;
  }

#menu {
list-style: none;
border: thin solid #0082d6;
padding: 0;
background-color: #0082d6;
padding: 5px;

}

#menu > li {
border: thin solid black;
display: inline-grid;
padding: 10px;
}

#menu> li:first-child {
  background-color: #0090eb;


}

#menu > li > a {
color: white;
text-decoration: none;
}

#menu > li:hover {
  background-color: #0082d6;


}

